In [2]:
import numpy as np
import pandas as pd
import json

In [24]:
import json

def spider_json_to_pandas(file_path):
    # Read the JSON file
    with open(file_path, 'r', encoding='utf-8') as file:
        data = json.load(file)
    
    # Convert each JSON object in the array
    converted_data = []
    for item in data:
        converted_item = {
            'db_id': item['db_id'],
            'query': item['query'],
            'question': item['question'],
            # 'sql_structure': {
            #     'from': item['sql']['from'],
            #     'select': item['sql']['select'],
            #     'where': item['sql']['where'],
            #     'groupBy': item['sql']['groupBy'],
            #     'having': item['sql']['having'],
            #     'orderBy': item['sql']['orderBy'],
            #     'limit': item['sql']['limit'],
            #     'intersect': item['sql']['intersect'],
            #     'union': item['sql']['union'],
            #     'except': item['sql']['except']
            # }
        }
        converted_data.append(converted_item)
    
    columns = ['db_id',
            'query',
            'question',
            #     'from',
            #     'select',
            #     'where',
            #     'groupBy',
            #     'having',
            #     'orderBy',
            #     'limit',
            #     'intersect',
            #     'union',
            #     'except',
            ]
    
    dataset = pd.DataFrame(converted_data, columns=columns)

    return dataset

## Train

In [ ]:
file_path = '/Users/vedanttibrewal/Documents/USC/lectures/sem_1/DSCI-551/project/chatDB-dsci551/dataset/train_others.json'
spider_train_other = spider_json_to_pandas(file_path)

spider_train_other.head()

,db_id,query,question
0,geo,SELECT city_name FROM city WHERE population =...,what is the biggest city in wyoming
1,geo,SELECT city_name FROM city WHERE population =...,what wyoming city has the largest population
2,geo,SELECT city_name FROM city WHERE population =...,what is the largest city in wyoming
3,geo,SELECT city_name FROM city WHERE population =...,where is the most populated area of wyoming
4,geo,SELECT city_name FROM city WHERE population =...,which city in wyoming has the largest population

In [26]:
file_path = '/Users/vedanttibrewal/Documents/USC/lectures/sem_1/DSCI-551/project/chatDB-dsci551/dataset/train_spider.json'
train_spider = spider_json_to_pandas(file_path)

train_spider.head()

,db_id,query,question
0,department_management,SELECT count(*) FROM head WHERE age > 56,How many heads of the departments are older th...
1,department_management,"SELECT name , born_state , age FROM head ORD...","List the name, born state and age of the heads..."
2,department_management,"SELECT creation , name , budget_in_billions ...","List the creation year, name and budget of eac..."
3,department_management,"SELECT max(budget_in_billions) , min(budget_i...",What are the maximum and minimum budget of the...
4,department_management,SELECT avg(num_employees) FROM department WHER...,What is the average number of employees of the...

In [ ]:
final_train = pd.concat([train_spider, spider_train_other], ignore_index=True)
print(final_train.shape)
final_train = final_train.drop_duplicates()
print(final_train.shape)
save_path = '/Users/vedanttibrewal/Documents/USC/lectures/sem_1/DSCI-551/project/chatDB-dsci551/dataset/'

final_train.to_csv(f"{save_path}train.csv")

(8659, 3)
(8651, 3)

## Test

In [30]:
file_path = '/Users/vedanttibrewal/Documents/USC/lectures/sem_1/DSCI-551/project/chatDB-dsci551/dataset/test.json'
test_spider = spider_json_to_pandas(file_path)

test_spider.head()

,db_id,query,question
0,soccer_3,SELECT count(*) FROM club,How many clubs are there?
1,soccer_3,SELECT count(*) FROM club,Count the number of clubs.
2,soccer_3,SELECT Name FROM club ORDER BY Name ASC,List the name of clubs in ascending alphabetic...
3,soccer_3,SELECT Name FROM club ORDER BY Name ASC,"What are the names of clubs, ordered alphabeti..."
4,soccer_3,"SELECT Manager , Captain FROM club",What are the managers and captains of clubs?

In [33]:
print(test_spider.shape)
test_spider = test_spider.drop_duplicates()
print(test_spider.shape)
save_path = '/Users/vedanttibrewal/Documents/USC/lectures/sem_1/DSCI-551/project/chatDB-dsci551/dataset/'

test_spider.to_csv(f"{save_path}test.csv")

(2147, 3)
(2147, 3)

## Validation

In [35]:
file_path = '/Users/vedanttibrewal/Documents/USC/lectures/sem_1/DSCI-551/project/chatDB-dsci551/dataset/dev.json'
val_spider = spider_json_to_pandas(file_path)

val_spider.head()

,db_id,query,question
0,concert_singer,SELECT count(*) FROM singer,How many singers do we have?
1,concert_singer,SELECT count(*) FROM singer,What is the total number of singers?
2,concert_singer,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere..."
3,concert_singer,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev..."
4,concert_singer,"SELECT avg(age) , min(age) , max(age) FROM s...","What is the average, minimum, and maximum age ..."

In [36]:
print(val_spider.shape)
val_spider = val_spider.drop_duplicates()
print(val_spider.shape)
save_path = '/Users/vedanttibrewal/Documents/USC/lectures/sem_1/DSCI-551/project/chatDB-dsci551/dataset/'

val_spider.to_csv(f"{save_path}validation.csv")

(1034, 3)
(1034, 3)